<script type="text/javascript">
<% if logged_in? %>
   window.currentUser = <%= render(
     "api/shared/users.json.jbuilder",
     user: current_user
   ).html_safe %>
 <% end %>

window.images =  {
    default_profile: "<%= image_path("profile-pic.jpg") %>",
    expand_arrow: "<%= image_path("expand.png") %>",
    collapse_arrow: "<%= image_path("collapse.png") %>",
    intro_video: "<%= asset_path("YouDownIntro.mp4") %>",
    default_group: "<%= image_path("group.jpg") %>",
    location: "<%= image_path("location.png") %>",
    members: "<%= image_path("members.png") %>",
    nametag: "<%= image_path("nametag.png") %>",
    new_group: "<%= image_path("new_group_photo.jpg") %>"

  }

</script>

<main id="root"></main>
