<script type="text/javascript">
<% if logged_in? %>
   window.currentUser = <%= render(
     "api/shared/users.json.jbuilder",
     user: current_user
   ).html_safe %>
 <% end %>

window.images =  {
    default_profile: "<%= image_path("profile-pic.jpg") %>",
    expand_arrow: "<%= image_path("expand.png") %>",
    collapse_arrow: "<%= image_path("collapse.png") %>",
    intro_video: "<%= asset_path("YouDownIntro.mp4") %>"
  }

</script>

<main id="root"></main>
